<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 환경설정 -->
	<!-- environments 아래에 environment 태그로 id를 지정하면 environments default의 아이디를 통해
	원하는 설정모드로 스왑할 수 있다. (개발용, 테스트용, 배포용 등) -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- 데이터소스의 타입에서 POOLED는 직접 설정 내용을 적겠단 뜻 -->
      <dataSource type="JNDI">
       	<property name="data_source" value="java:comp/env/jdbc/oracle_xe"/>
      </dataSource>
    </environment>
  </environments>
  <!-- 맵퍼를 통해 원하는 테이블에 접근할 수 있음 보통 테이블당 1개의 맵퍼로 구성-->
  <!-- 맵퍼 파일 내부에서 원하는 쿼리문 작성 -->
  <mappers>
  	<mapper resource = "config/mybatis/employee.xml"/>
  	<mapper resource = "config/mybatis/department.xml"/>
  </mappers>
</configuration>